<form #addOrderForm="ngForm">
<h2>Create new order:</h2>
<br>

<div class="form-group">
    <label for="order-name">Name:</label>
    <input class="form-control"
            id="order-name"
            name="order-name"
            (click)="disableOrderNameError()"
            #createdOrderName>
</div>
<div *ngIf="orderNameError" class="alert alert-danger">
        Order must have a name.
</div>

<div class="form-group">
        <label for="order-location1">Location:</label>
        <input class="form-control"
                id="order-location1"
                name="order-location1"
                (click)="disableOrderLocationError()"
                #createdOrderLocation1>
        <br>
        <input class="form-control"
                id="order-location2"
                name="order-location2"
                (click)="disableOrderLocationError()"
                #createdOrderLocation2>
</div>
<div *ngIf="orderLocationError" class="alert alert-danger">
        Order location is required.
</div>
<img [src]="googleMapApiUrl" alt="Click 'Preview location' to see the image." align = "middle">
<br>
<br>

<div class="form-group">
        <label for="order-price">Price (zł):</label>
        <input class="form-control"
                id="order-price"
                name="order-price"
                (click)="disableOrderPriceError()"
                #createdOrderPrice>
</div>
<div *ngIf="orderPriceError" class="alert alert-danger">
        Order must have a valid price.
</div>

<div class="form-group">
        <label for="order-description">Description:</label>
        <input class="form-control"
                id="order-description"
                name="order-description"
                #createdOrderDescription>
</div>

<button (click)="previewLocation()" class="btn btn-primary">Preview location</button>

&nbsp;&nbsp;

<button (click)="saveOrder()" class="btn btn-primary">Save order</button>

</form> 
