<h2>All orders</h2>
<br>
<div *ngIf="orders.length === 0">
  <p>
    There are no orders.
  </p>
</div>

<div>
  <agm-map [latitude]="52.2297" [longitude]="21.0122">
    <div *ngFor="let order of orders">
      <agm-marker *ngIf="ordersCoordinates.get(order.id)" [latitude]="ordersCoordinates.get(order.id).lat" [label]="order.name" 
                  [longitude]="ordersCoordinates.get(order.id).lng" [markerClickable]="true" (markerClick)="showOrderDetails(order)">
        <agm-info-window>{{ order.name }}</agm-info-window>            
      </agm-marker>
    </div>
  </agm-map>
</div>

<br>
<hr>

<div class="col-lg-6">
  <div class="panel-group">

    <div *ngFor="let order of orders">
      <div [ngClass]="{'panel': true, 'panel-primary': order === selectedOrder,
                       'panel-default': order !== selectedOrder}">
        <div class="panel-heading">
          {{ order.name }}
        </div>
        <div class="panel-body">
          <div class="col-md-10">
            Where? {{ order.location1 }} {{ order.location2 }}
            <br>
            Price: {{ order.price }} zł
          </div>
          <div class="col-md-2">
            <button (click)="showOrderDetails(order)" 
                    [ngClass]="{'btn': true, 'btn-primary': order === selectedOrder,
                    'btn-default': order !== selectedOrder}">Details</button>
          </div>
        </div>
      </div>
      <br>
    </div>

  </div>
</div>
<div class="col-lg-6">
    <div *ngIf="selectedOrder !== null">
      <app-order-detail [order]="selectedOrder"></app-order-detail>
    </div>
</div>